In [1]:
import numpy as np
import pandas as pd

## Use loc and iloc for selection of rows and columns in pandas df.

In [2]:
my_dataframe = pd.DataFrame(np.random.randn(3,4))
my_dataframe

          0         1         2         3
0 -1.284883  1.214446  0.831139  1.501691
1 -0.643590 -0.171592 -1.171743 -0.000746
2 -0.037508 -0.070815  1.396815  0.071075

In [3]:
my_dataframe.loc[[1,2],[0]] # We are selecting row 1 and 2 and column 0 over here.

          0
1 -0.643590
2 -0.037508