In [1]:
import numpy as np
import pandas as pd

## Single Conditional selection

In [2]:
# Load data
my_dataframe = pd.DataFrame(np.random.randn(3,5), ['R1','R2','R3'],['C1','C2','C3','C4', 'C5'])
my_dataframe

          C1        C2        C3        C4        C5
R1 -0.326679 -0.795579 -0.891713 -0.855880 -1.117552
R2 -0.592224  1.801994  0.749930 -0.009870 -0.347903
R3  2.451296  0.356655 -0.404924 -1.047546 -1.589591

In [3]:
my_dataframe > 0
my_dataframe[my_dataframe['C4'] > 0]

# When we perform above operation the affected row is only returned

Empty DataFrame
Columns: [C1, C2, C3, C4, C5]
Index: []

## Multiple Conditional selection

In [4]:
my_dataframe

          C1        C2        C3        C4        C5
R1 -0.326679 -0.795579 -0.891713 -0.855880 -1.117552
R2 -0.592224  1.801994  0.749930 -0.009870 -0.347903
R3  2.451296  0.356655 -0.404924 -1.047546 -1.589591

In [5]:
my_dataframe[(my_dataframe['C4'] > 0) & (my_dataframe['C5'] > 0)] # AND

# Use parenthesis numpy requires single entity inside a parenthesis.

Empty DataFrame
Columns: [C1, C2, C3, C4, C5]
Index: []

In [6]:
my_dataframe[(my_dataframe['C4'] > 0) | (my_dataframe['C5'] > 0)] # OR

# Use parenthesis numpy requires single entity inside a parenthesis.

Empty DataFrame
Columns: [C1, C2, C3, C4, C5]
Index: []

### Setting a new index to a dataframe.

In [7]:
my_new_index = ['row1','row3','row3']
my_dataframe

          C1        C2        C3        C4        C5
R1 -0.326679 -0.795579 -0.891713 -0.855880 -1.117552
R2 -0.592224  1.801994  0.749930 -0.009870 -0.347903
R3  2.451296  0.356655 -0.404924 -1.047546 -1.589591

In [11]:
# Step 1 : Add new Column.
my_dataframe['NewIndex'] = my_new_index

In [12]:
# Step 2 : Set new column as an index.
my_dataframe.set_index('NewIndex')

                C1        C2        C3        C4        C5
NewIndex
row1     -0.326679 -0.795579 -0.891713 -0.855880 -1.117552
row3     -0.592224  1.801994  0.749930 -0.009870 -0.347903
row3      2.451296  0.356655 -0.404924 -1.047546 -1.589591