In [1]:
import numpy as np
import pandas as pd

## Libraries Required :

- lxml (For importing excel sheets)
- html5lib, bs4 (For Webscraping)

In [2]:
tesla_dataset = pd.read_csv('./Datasets/Tesla_stock_Price.csv')

In [3]:
tesla_dataset.head()

       Date  Price   Open   High    Low   Volume    Chg%
0  1-Apr-11   1.78   1.83   1.88   1.77   42.98M  -3.78%
1  1-Apr-13   2.93   2.82   3.11   2.78  211.59M  15.81%
2  1-Apr-14  14.46  13.93  14.54  13.91  110.57M   4.03%
3  1-Apr-15  12.51  12.58  12.82   12.4   56.92M  -0.56%
4  1-Apr-16  15.84  16.32  16.53  15.55  239.96M   3.39%

### Writing to CSV

In [7]:
tesla_dataset.to_csv('out.csv', index=False)

In [8]:
pd.read_csv('out.csv').head()

       Date  Price   Open   High    Low   Volume    Chg%
0  1-Apr-11   1.78   1.83   1.88   1.77   42.98M  -3.78%
1  1-Apr-13   2.93   2.82   3.11   2.78  211.59M  15.81%
2  1-Apr-14  14.46  13.93  14.54  13.91  110.57M   4.03%
3  1-Apr-15  12.51  12.58  12.82   12.4   56.92M  -0.56%
4  1-Apr-16  15.84  16.32  16.53  15.55  239.96M   3.39%