In [1]:
import numpy as np
import pandas as pd

In [2]:
my_data = {
    "me": [3,5,np.NaN],
    "mf": [4, np.NaN, np.NaN],
    "mof":[3,5,4]
}
my_data_frame = pd.DataFrame(my_data)
my_data_frame

    me   mf  mof
0  3.0  4.0    3
1  5.0  NaN    5
2  NaN  NaN    4

In [3]:
# Just drop empty value
# my_data_frame.dropna()

In [7]:
my_data_frame.fillna(value=np.mean(my_data_frame['me']))

    me   mf  mof
0  3.0  4.0    3
1  5.0  4.0    5
2  4.0  4.0    4